/* COLORS */
$color-dark: #121216;
$color-white: #F3F4F6;
$color-purple: #7D80DA;
$color-red: #DB2B39;
$color-green: #08A045;
$color-yellow: #FEE440;

/* FONT FAMILY */
$title-font-family: "Open Sans", sans-serif;
$paragraph-font-family: "Helvetica", sans-serif;

/* FONT SIZE */

/* TITLES */
$h1-size: 34px;
$h2-size: 26px;
$h3-size: 18px;
$subtitle-size: 16px;

/* BODY */
$body-1: 14px;
$body-2: 13px;
$body-3: 12px;
